<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/apple-touch-icon.png">

	<!-- Favicon -->
	<link rel="icon" href="/static/assets/img/favicon.png" type="image/x-icon">
	<link rel="shortcut icon" href="/static/assets/img/favicon.png" type="image/x-icon">

	<!-- Theme Script js -->
	<script src="/static/assets/js/theme-script.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="/static/assets/plugins/icons/feather/feather.css">

	<!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="/static/assets/plugins/tabler-icons/tabler-icons.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/static/assets/plugins/select2/css/select2.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="/static/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Bootstrap Tagsinput CSS -->
	<link rel="stylesheet" href="/static/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">

	<!-- Summernote CSS -->
	<link rel="stylesheet" href="/static/assets/plugins/summernote/summernote-lite.min.css">

	<!-- Daterangepikcer CSS -->
	<link rel="stylesheet" href="/static/assets/plugins/daterangepicker/daterangepicker.css">

	<!-- Color Picker Css -->
	<!--<link rel="stylesheet" href="/static/assets/plugins/flatpickr/flatpickr.min.css">-->
		<!--<link rel="stylesheet" href="/static/assets/plugins/%40simonwep/pickr/themes/nano.min.css">-->

	<!-- Main CSS -->
	<link rel="stylesheet" href="/static/assets/css/style.css">
    	
	<link rel="stylesheet" href="/static/assets/css/dataTables.bootstrap5.min.css">


	<div class="position-fixed top-0 end-0 p-3" style="z-index: 1100">
  <div id="loginToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body" id="toastMessage">
        Invalid login.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
