<!DOCTYPE html>
<html lang="en">


<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ASTRA Pollution || Dashboard</title>
	

	{% include 'css.html' %}

</head>

<body> 

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
	{% include 'header.html' %}
		<!-- /Header -->

		<!-- Sidebar -->
		{% include 'sidebar.html' %}
	

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content">

				<!-- Breadcrumb -->
				<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
					<div class="my-auto mb-2">
						<h2 class="mb-1">Project ASTRA</h2> 
					</div>
				
				</div>
				<!-- /Breadcrumb -->

				<!-- Welcome Wrap -->
				<div class="card border-0">
					<div class="card-body d-flex align-items-center justify-content-between flex-wrap pb-1">
						<div class="d-flex align-items-center mb-3">
							<span class="avatar avatar-xl flex-shrink-0">
								<img src="/static/assets/img/profiles/avatar-31.jpg" class="rounded-circle" alt="img">
							</span>
							<div class="ms-3">
								<h3 class="mb-2">Welcome Back<a href="/profile" class="edit-icon"><i class="ti ti-edit fs-14"></i></a></h3>
								</div>
						</div> 
					</div>
				</div>
				<!-- /Welcome Wrap -->

				<div class="row">

					<!-- Widget Info -->
					<div class="col-xxl-8 d-flex">
						<div class="row flex-fill">
							<div class="col-md-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body">
										<span class="avatar rounded-circle bg-primary mb-2">
											<i class="ti ti-calendar-share fs-16"></i>
										</span>
										<h6 class="fs-13 fw-medium text-default mb-1">Pollution Overview</h6>
										<h3 class="mb-3">{{monthly_attendance_count}} <span class="fs-12 fw-medium text-success"></h3>
										<!-- <a href="#" class="link-default">View Details</a> -->
									</div>
								</div>
							</div>
							
							<div class="col-md-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body">
										<span class="avatar rounded-circle bg-info mb-2">
											<i class="ti ti-users-group fs-16"></i>
										</span>
										<h6 class="fs-13 fw-medium text-default mb-1">Total No of Sensors</h6>
										<h3 class="mb-3">{{total_employees}} <span class="fs-12 fw-medium text-danger"></h3>
										<!-- <a href="clients.html" class="link-default">View All</a> -->
									</div>
								</div>
							</div>
							
							<div class="col-md-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body">
										<span class="avatar rounded-circle bg-purple mb-2">
											<i class="ti ti-moneybag fs-16"></i>
										</span>
										<h6 class="fs-13 fw-medium text-default mb-1">Working Sensors</h6>
										<h3 class="mb-3">4 <span class="fs-12 fw-medium text-success"></h3>
										<!-- <a href="expenses.html" class="link-default">View All</a> -->
									</div>
								</div>
							</div>
							<div class="col-md-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body">
										<span class="avatar rounded-circle bg-danger mb-2">
											<i class="ti ti-browser fs-16"></i>
										</span>
										<h6 class="fs-13 fw-medium text-default mb-1">Failed Sensor</h6>
										<h3 class="mb-3">0<span class="fs-12 fw-medium text-success"></h3>
										<!-- <a href="purchase-transaction.html" class="link-default">View All</a> -->
									</div>
								</div>
							</div>
							<div class="col-md-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body">
										<span class="avatar rounded-circle bg-success mb-2">
											<i class="ti ti-users-group fs-16"></i>
										</span>
										<h6 class="fs-13 fw-medium text-default mb-1">Vechile Pollution</h6>
										<h3 class="mb-3">992(PPM) <span class="fs-12 fw-medium text-success"></h3>
										<!-- <a href="job-list.html" class="link-default">View All</a> -->
									</div>
								</div>
							</div>
							<div class="col-md-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body">
										<span class="avatar rounded-circle bg-dark mb-2">
											<i class="ti ti-user-star fs-16"></i>
										</span>
										<h6 class="fs-13 fw-medium text-default mb-1">Industy Pollution</h6>
										<h3 class="mb-3">66(PPM)
										<span class="fs-12 fw-medium text-danger"></h3>
										<!-- <a href="candidates.html" class="link-default">View All</a> -->
									</div>
								</div>
							</div>
							<div class="col-md-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body">
										<span class="avatar rounded-circle bg-dark mb-2">
											<i class="ti ti-user-star fs-16"></i>
										</span>
										<h6 class="fs-13 fw-medium text-default mb-1">Dust Pollution</h6>
										<h3 class="mb-3">22(PPM)<span class="fs-12 fw-medium text-danger"></h3>
										<!-- <a href="candidates.html" class="link-default">View All</a> -->
									</div>
								</div>
							</div>
							<div class="col-md-3 d-flex">
								<div class="card flex-fill">
									<div class="card-body">
										<span class="avatar rounded-circle bg-dark mb-2">
											<i class="ti ti-user-star fs-16"></i>
										</span>
										<h6 class="fs-13 fw-medium text-default mb-1">PotHoles</h6>
										<h3 class="mb-3">23<span class="fs-12 fw-medium text-danger"></h3>
										<!-- <a href="candidates.html" class="link-default">View All</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Widget Info -->

					<!-- Employees By Department -->
					<!-- <div class="col-xxl-4 d-flex">
						<div class="card flex-fill">
							<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
								<h5 class="mb-2">Employees By Department</h5>
								<div class="dropdown mb-2">
									<a href="javascript:void(0);" class="btn btn-white border btn-sm d-inline-flex align-items-center" data-bs-toggle="dropdown">
										<i class="ti ti-calendar me-1"></i>This Week
									</a>
									<ul class="dropdown-menu  dropdown-menu-end p-3">
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">This Month</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">This Week</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Last Week</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="card-body">
								<div id="emp-department"></div>
								<p class="fs-13"><i class="ti ti-circle-filled me-2 fs-8 text-primary"></i>No of
									Employees increased by <span class="text-success fw-bold">+20%</span> from last Week
								</p>
							</div>
						</div>
					</div> -->
					<!-- /Employees By Department -->
					 <div class="col-xxl-4 d-flex">
	<div class="card flex-fill">
		<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
			<h5 class="mb-2">Employees By Department</h5>
		</div>

		<div class="card-body">
			<div id="emp-departmen"></div>

			{% if dept_employee_data %}
			<ul class="list-unstyled mt-3 mb-0">
				{% for dept in dept_employee_data %}
				<li class="d-flex justify-content-between fs-13 mb-2">
					<span>
						<i class="ti ti-circle-filled me-2 fs-8 text-primary"></i>
						{{ dept.department__name }}
					</span>
					<strong>{{ dept.total }}</strong>
				</li>
				{% endfor %}
			</ul>
			{% else %}
				<p class="text-muted fs-13">No data available</p>
			{% endif %}
		</div>
	</div>
</div>

<script>
	const deptData = {{ dept_employee_data|safe }};

	const labels = deptData.map(d => d.department__name);
	const series = deptData.map(d => d.total);

	var options = {
		chart: {
			type: 'donut',
			height: 280
		},
		labels: labels,
		series: series,
		legend: {
			position: 'bottom'
		}
	};

	var chart = new ApexCharts(
		document.querySelector("#emp-departmen"),
		options
	);
	chart.render();
</script>


				</div>

				<div class="row">

					<!-- Total Employee -->
					<!-- <div class="col-xxl-4 d-flex">
						<div class="card flex-fill">
							<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
								<h5 class="mb-2">Employee Status</h5>
								<div class="dropdown mb-2">
									<a href="javascript:void(0);" class="btn btn-white border btn-sm d-inline-flex align-items-center" data-bs-toggle="dropdown">
										<i class="ti ti-calendar me-1"></i>This Week
									</a>
									<ul class="dropdown-menu  dropdown-menu-end p-3">
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">This Month</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">This Week</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Today</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="card-body">
								<div class="d-flex align-items-center justify-content-between mb-1">
									<p class="fs-13 mb-3">Total Employee</p>
									<h3 class="mb-3">154</h3>
								</div>
								<div class="progress-stacked emp-stack mb-3">
									<div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
										<div class="progress-bar bg-warning"></div>
									</div>
									<div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
										<div class="progress-bar bg-secondary"></div>
									</div>
									<div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
										<div class="progress-bar bg-danger"></div>
									</div>
									<div class="progress" role="progressbar" aria-label="Segment four" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
										<div class="progress-bar bg-pink"></div>
									</div>
								</div>
								<div class="border mb-3">
									<div class="row gx-0">
										<div class="col-6">
											<div class="p-2 flex-fill border-end border-bottom">
												<p class="fs-13 mb-2"><i class="ti ti-square-filled text-primary fs-12 me-2"></i>Fulltime <span class="text-gray-9">(48%)</span></p>
												<h2 class="display-1">112</h2>
											</div>
										</div>
										<div class="col-6">
											<div class="p-2 flex-fill border-bottom text-end">
												<p class="fs-13 mb-2"><i class="ti ti-square-filled me-2 text-secondary fs-12"></i>Contract <span class="text-gray-9">(20%)</span></p>
												<h2 class="display-1">112</h2>
											</div>
										</div>
										
									</div>
								</div>
								<h6 class="mb-2">Top Performer</h6>
								<div class="p-2 d-flex align-items-center justify-content-between border border-primary bg-primary-100 br-5 mb-4">
									<div class="d-flex align-items-center overflow-hidden">
										<span class="me-2">
											<i class="ti ti-award-filled text-primary fs-24"></i>
										</span>
										<a href="employee-details.html" class="avatar avatar-md me-2">
											<img src="/static/assets/img/profiles/avatar-24.jpg" class="rounded-circle border border-white" alt="img">
										</a>
										<div>
											<h6 class="text-truncate mb-1 fs-14 fw-medium"><a href="employee-details.html">Daniel Esbella</a></h6>
											<p class="fs-13">IOS Developer</p>
										</div>
									</div>
									<div class="text-end">
										<p class="fs-13 mb-1">Performance</p>
										<h5 class="text-primary">99%</h5>
									</div>
								</div>
								<a href="employees.html" class="btn btn-light btn-md w-100">View All Employees</a>
							</div>
						</div>
					</div> -->
					<!-- /Total Employee -->
					 <div class="col-xxl-4 d-flex">
	<div class="card flex-fill">
		<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
			<h5 class="mb-2">Detection Status</h5>
		</div>

		<div class="card-body">
			<!-- Total Employees -->
			<div class="d-flex align-items-center justify-content-between mb-1">
				<p class="fs-13 mb-3">Pollution/Potholes</p>
				<h3 class="mb-3">{{ total_employees }}</h3>
			</div>

			<!-- Progress Bar -->
			{% if total_employees > 0 %}
			<div class="progress-stacked emp-stack mb-3">

				<!-- Monthly -->
				<div class="progress" style="width: {% widthratio monthly_employees total_employees 100 %}%">
					<div class="progress-bar bg-primary"></div>
				</div>

				<!-- Daily -->
				<div class="progress" style="width: {% widthratio daily_employees total_employees 100 %}%">
					<div class="progress-bar bg-warning"></div>
				</div>

			</div>
			{% endif %}

			<!-- Breakdown -->
			<div class="border mb-3">
				<div class="row gx-0">
					<div class="col-6">
						<div class="p-2 flex-fill border-end border-bottom">
							<p class="fs-13 mb-2">
								<i class="ti ti-square-filled text-primary fs-12 me-2"></i>
								Monthly
								<span class="text-gray-9">
									({% widthratio monthly_employees total_employees 100 %}%)
								</span>
							</p>
							<h2 class="display-1">{{ monthly_employees }}</h2>
						</div>
					</div>

					<div class="col-6">
						<div class="p-2 flex-fill border-bottom text-end">
							<p class="fs-13 mb-2">
								<i class="ti ti-square-filled me-2 text-warning fs-12"></i>
								Daily
								<span class="text-gray-9">
									({% widthratio daily_employees total_employees 100 %}%)
								</span>
							</p>
							<h2 class="display-1">{{ daily_employees }}</h2>
						</div>
					</div>
				</div>
			</div>

			<!-- CTA -->
			<a href="/employeelist" class="btn btn-light btn-md w-100">
				View All Employees
			</a>
		</div>
	</div>
</div>


					<!-- Attendance Overview -->
					<!-- <div class="col-xxl-4 col-xl-6 d-flex">
						<div class="card flex-fill">
							<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
								<h5 class="mb-2">Attendance Overview</h5>
								<div class="dropdown mb-2">
									<a href="javascript:void(0);" class="btn btn-white border btn-sm d-inline-flex align-items-center" data-bs-toggle="dropdown">
										<i class="ti ti-calendar me-1"></i>Today
									</a>
									<ul class="dropdown-menu  dropdown-menu-end p-3">
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">This Month</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">This Week</a>
										</li>
										<li>
											<a href="javascript:void(0);" class="dropdown-item rounded-1">Today</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="card-body">
								<div class="chartjs-wrapper-demo position-relative mb-4">
									<canvas id="attendance" height="200"></canvas>
									<div class="position-absolute text-center attendance-canvas">
										<p class="fs-13 mb-1">Total Attendance</p>
										<h3>120</h3>
									</div>
								</div>
								<h6 class="mb-3">Status</h6>
								<div class="d-flex align-items-center justify-content-between">
									<p class="f-13 mb-2"><i class="ti ti-circle-filled text-success me-1"></i>Present</p>
									<p class="f-13 fw-medium text-gray-9 mb-2">59%</p>
								</div>
								<div class="d-flex align-items-center justify-content-between">
									<p class="f-13 mb-2"><i class="ti ti-circle-filled text-secondary me-1"></i>Late</p>
									<p class="f-13 fw-medium text-gray-9 mb-2">21%</p>
								</div>
								<div class="d-flex align-items-center justify-content-between">
									<p class="f-13 mb-2"><i class="ti ti-circle-filled text-warning me-1"></i>Permission</p>
									<p class="f-13 fw-medium text-gray-9 mb-2">2%</p>
								</div>
								<div class="d-flex align-items-center justify-content-between mb-2">
									<p class="f-13 mb-2"><i class="ti ti-circle-filled text-danger me-1"></i>Absent</p>
									<p class="f-13 fw-medium text-gray-9 mb-2">15%</p>
								</div>
								<div class="bg-light br-5 box-shadow-xs p-2 pb-0 d-flex align-items-center justify-content-between flex-wrap">
									<div class="d-flex align-items-center">
										<p class="mb-2 me-2">Total Absenties</p>
										<div class="avatar-list-stacked avatar-group-sm mb-2">
											<span class="avatar avatar-rounded">
												<img class="border border-white" src="/static/assets/img/profiles/avatar-27.jpg" alt="img">
											</span>
											<span class="avatar avatar-rounded">
												<img class="border border-white" src="/static/assets/img/profiles/avatar-30.jpg" alt="img">
											</span>
											<span class="avatar avatar-rounded">
												<img src="/static/assets/img/profiles/avatar-14.jpg" alt="img">
											</span>
											<span class="avatar avatar-rounded">
												<img src="/static/assets/img/profiles/avatar-29.jpg" alt="img">
											</span>
											<a class="avatar bg-primary avatar-rounded text-fixed-white fs-10" href="javascript:void(0);">
												+1
											</a>
										</div>
									</div>
									<a href="leaves.html" class="fs-13 link-primary text-decoration-underline mb-2">View Details</a>
								</div>
							</div>
						</div>
					</div> -->
					<!-- /Attendance Overview -->

					<div class="col-xxl-4 col-xl-6 d-flex">
	<div class="card flex-fill">
		<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
			<h5 class="mb-2"> Overview</h5>
		</div>

		<div class="card-body">

			{% with total_today=today_attendance.full_day|add:today_attendance.half_day|add:today_attendance.late|add:today_attendance.absent %}

			<!-- Chart placeholder -->
			<div class="chartjs-wrapper-demo position-relative mb-4">
				<canvas id="attendance" height="200"></canvas>
				<div class="position-absolute text-center attendance-canvas">
					<p class="fs-13 mb-1">Total </p>
					<h3>{{ total_today }}</h3>
				</div>
			</div>

			<h6 class="mb-3">Status</h6>

			<!-- Present -->
			<div class="d-flex align-items-center justify-content-between">
				<p class="f-13 mb-2">
					<i class="ti ti-circle-filled text-success me-1"></i>Present
				</p>
				<p class="f-13 fw-medium text-gray-9 mb-2">
					{% if total_today > 0 %}
						{% widthratio today_attendance.full_day total_today 100 %}%
					{% else %}0%{% endif %}
				</p>
			</div>

			<!-- Late -->
			<div class="d-flex align-items-center justify-content-between">
				<p class="f-13 mb-2">
					<i class="ti ti-circle-filled text-secondary me-1"></i>Late
				</p>
				<p class="f-13 fw-medium text-gray-9 mb-2">
					{% if total_today > 0 %}
						{% widthratio today_attendance.late total_today 100 %}%
					{% else %}0%{% endif %}
				</p>
			</div>

	
		

		

			{% endwith %}
		</div>
	</div>
</div>

<div class="col-xxl-4 col-xl-6 d-flex">
	<div class="card flex-fill">
		<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
			<h5 class="mb-2">Employees</h5>
			<a href="/employeelist" class="btn btn-light btn-md mb-2">View All</a>
		</div>

		<div class="card-body p-0">
			<div class="table-responsive">
				<table class="table table-nowrap mb-0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Department</th>
						</tr>
					</thead>
					<tbody>

						{% for emp in recent_employees %}
						<tr>
							<td>
								<div class="d-flex align-items-center">
									<a href="javascript:void(0);" class="avatar">
										{% if emp.profile %}
											<img src="{{ emp.profile.url }}" class="img-fluid rounded-circle" alt="img">
										{% else %}
										
										{% endif %}
									</a>
									<div class="ms-2">
										<h6 class="fw-medium mb-0">{{ emp.name }}</h6>
										<span class="fs-12">
											{% if emp.designation %}
												{{ emp.designation.name }}
											{% else %}
												—
											{% endif %}
										</span>
									</div>
								</div>
							</td>
							<td>
								<span class="badge badge-secondary-transparent badge-xs">
									{{ emp.department.name }}
								</span>
							</td>
						</tr>
						{% empty %}
						<tr>
							<td colspan="2" class="text-center text-muted py-3">
								No employees found
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


					<!-- Clock-In/Out -->
				<!-- <div class="col-xxl-4 col-xl-6 d-flex">
						<div class="card flex-fill">
							<div class="card-header pb-2 d-flex align-items-center justify-content-between flex-wrap">
								<h5 class="mb-2">Employees</h5>
								<a href="employees.html" class="btn btn-light btn-md mb-2">View All</a>
							</div>
							<div class="card-body p-0">
								<div class="table-responsive">	
									<table class="table table-nowrap mb-0">
										<thead>
											<tr>
												<th>Name</th>
												<th>Department</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div class="d-flex align-items-center">
														<a href="javascript:void(0);" class="avatar">
															<img src="/static/assets/img/users/user-32.jpg" class="img-fluid rounded-circle" alt="img">
														</a>
														<div class="ms-2">
															<h6 class="fw-medium"><a href="javascript:void(0);">Anthony Lewis</a></h6>
															<span class="fs-12">Finance</span>
														</div>
													</div>
												</td>
												<td>
													<span class="badge badge-secondary-transparent badge-xs">
														Finance
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="d-flex align-items-center">
														<a href="#" class="avatar">
															<img src="/static/assets/img/users/user-09.jpg" class="img-fluid rounded-circle" alt="img">
														</a>
														<div class="ms-2">
															<h6 class="fw-medium"><a href="#">Brian Villalobos</a></h6>
															<span class="fs-12">PHP Developer</span>
														</div>
													</div>
												</td>
												<td>
													<span class="badge badge-danger-transparent badge-xs">Development</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="d-flex align-items-center">
														<a href="#" class="avatar">
															<img src="/static/assets/img/users/user-01.jpg" class="img-fluid rounded-circle" alt="img">
														</a>
														<div class="ms-2">
															<h6 class="fw-medium"><a href="#">Stephan Peralt</a></h6>
															<span class="fs-12">Executive</span>
														</div>
													</div>
												</td>
												<td>
													<span class="badge badge-info-transparent badge-xs">Marketing</span>
												</td>
											</tr>
											<tr>
												<td>
													<div class="d-flex align-items-center">
														<a href="javascript:void(0);" class="avatar">
															<img src="/static/assets/img/users/user-34.jpg" class="img-fluid rounded-circle" alt="img">
														</a>
														<div class="ms-2">
															<h6 class="fw-medium"><a href="javascript:void(0);">Doglas Martini</a></h6>
															<span class="fs-12">Project Manager</span>
														</div>
													</div>
												</td>
												<td>
													<span class="badge badge-purple-transparent badge-xs">Manager</span>
												</td>
											</tr>
											<tr>
												<td class="border-0">
													<div class="d-flex align-items-center">
														<a href="javascript:void(0);" class="avatar">
															<img src="/static/assets/img/users/user-37.jpg" class="img-fluid rounded-circle" alt="img">
														</a>
														<div class="ms-2">
															<h6 class="fw-medium"><a href="javascript:void(0);">Anthony Lewis</a></h6>
															<span class="fs-12">UI/UX Designer</span>
														</div>
													</div>
												</td>
												<td class="border-0">
													<span class="badge badge-pink-transparent badge-xs">UI/UX Design</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div> -->
					<!-- /Clock-In/Out -->

				</div>

				<div class="row">

				
					<!-- /Jobs Applicants -->
					
					<!-- Employees -->
					
					<!-- /Employees -->
					
					<!-- Todo -->
				
					<!-- /Todo -->

				</div>

			

				

			

			</div>

			<div class="footer d-sm-flex align-items-center justify-content-between border-top bg-white p-3">
				<p class="mb-0">2025 &copy; VoidFillers</p>
				<p>Designed &amp; Developed By <a href="javascript:void(0);" class="text-primary">VoidFillers</a></p>
			</div>

		</div>
		<!-- /Page Wrapper -->

		<!-- Add Todo -->
		<div class="modal fade" id="add_todo">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add New Todo</h4>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x"></i>
						</button>
					</div>
					<form action="#">
						<div class="modal-body">
							<div class="row">
								<div class="col-12">
									<div class="mb-3">
										<label class="form-label">Todo Title</label>
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-6">
									<div class="mb-3">
										<label class="form-label">Tag</label>
										<select class="select">
											<option>Select</option>
											<option>Internal</option>
											<option>Projects</option>
											<option>Meetings</option>
											<option>Reminder</option> 	 
										</select>
									</div>
								</div>
								<div class="col-6">
									<div class="mb-3">
										<label class="form-label">Priority</label>
										<select class="select">
											<option>Select</option>
											<option>Medium</option>
											<option>High</option>
											<option>Low</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12">
									<div class="mb-3">
										<label class="form-label">Descriptions</label>
										<div class="summernote"></div>
									</div>
								</div>
								<div class="col-12">
									<div class="mb-3">
										<label class="form-label">Add Assignee</label>
										<select class="select">
											<option>Select</option>
											<option>Sophie</option>
											<option>Cameron</option>
											<option>Doris</option>
											<option>Rufana</option>
										</select>
									</div>
								</div>
								<div class="col-12">
									<div class="mb-0">
										<label class="form-label">Status</label>
										<select class="select">
											<option>Select</option>
											<option>Completed</option>
											<option>Pending</option>
											<option>Onhold</option>
											<option>Inprogress</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Add New Todo</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Add Todo -->

		<!-- Add Project -->
		<div class="modal fade" id="add_project" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header header-border align-items-center justify-content-between">
						<div class="d-flex align-items-center">
							<h5 class="modal-title me-2">Add Project </h5>
							<p class="text-dark">Project ID : PRO-0004</p>
						</div>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x"></i>
						</button>
					</div>
					<div class="add-info-fieldset">
						<div class="add-details-wizard p-3 pb-0">
							<ul class="progress-bar-wizard d-flex align-items-center border-bottom">
								<li class="active p-2 pt-0">
									<h6 class="fw-medium">Basic Information</h6>
								</li>
								<li class="p-2 pt-0">									
									<h6 class="fw-medium">Members</h6>
								</li>
							</ul>
						</div>
						<fieldset id="first-field-file">
							<form action="#">
								<div class="modal-body">
									<div class="row">
										<div class="col-md-12">
											<div class="d-flex align-items-center flex-wrap row-gap-3 bg-light w-100 rounded p-3 mb-4">                                                
												<div class="d-flex align-items-center justify-content-center avatar avatar-xxl rounded-circle border border-dashed me-2 flex-shrink-0 text-dark frames">
													<i class="ti ti-photo text-gray-2 fs-16"></i>
												</div>                                              
												<div class="profile-upload">
													<div class="mb-2">
														<h6 class="mb-1">Upload Project Logo</h6>
														<p class="fs-12">Image should be below 4 mb</p>
													</div>
													<div class="profile-uploader d-flex align-items-center">
														<div class="drag-upload-btn btn btn-sm btn-primary me-2">
															Upload
															<input type="file" class="form-control image-sign" multiple="">
														</div>
														<a href="javascript:void(0);" class="btn btn-light btn-sm">Cancel</a>
													</div>
													
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="mb-3">
												<label class="form-label">Project Name</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-12">
											<div class="mb-3">
												<label class="form-label">Client</label>
												<select class="select">
													<option>Select</option>
													<option>Anthony Lewis</option>
													<option>Brian Villalobos</option>
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-6">
													<div class="mb-3">
														<label class="form-label">Start Date</label>
														<div class="input-icon-end position-relative">
															<input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" value="02-05-2024">
															<span class="input-icon-addon">
																<i class="ti ti-calendar text-gray-7"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="mb-3">
														<label class="form-label">End Date</label>
														<div class="input-icon-end position-relative">
															<input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" value="02-05-2024">
															<span class="input-icon-addon">
																<i class="ti ti-calendar text-gray-7"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="mb-3">
														<label class="form-label">Priority</label>
														<select class="select">
															<option>Select</option>
															<option>High</option>
															<option>Medium</option>
															<option>Low</option>
														</select>
													</div>
												</div>
												<div class="col-md-6">
													<div class="mb-3">
														<label class="form-label">Project Value</label>
														<input type="text" class="form-control" value="$">
													</div>
												</div>
												<div class="col-md-6">
													<div class="mb-3">
														<label class="form-label">Total Working Hours</label>
														<div class="input-icon-end position-relative">
															<input type="text" class="form-control timepicker" placeholder="-- : -- : --" value="02-05-2024">
															<span class="input-icon-addon">
																<i class="ti ti-clock-hour-3 text-gray-7"></i>
															</span>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="mb-3">
														<label class="form-label">Extra Time</label>
														<input type="text" class="form-control">
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12">
											<div class="mb-0">
												<label class="form-label">Description</label>
												<div class="summernote"></div>
											</div>
										</div>
									</div>								
								</div>
								<div class="modal-footer">
									<div class="d-flex align-items-center justify-content-end">
										<button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
										<button class="btn btn-primary wizard-next-btn" type="button">Add Team Member</button>
									</div>
								</div>
							</form>
						</fieldset>
						<fieldset>
							<form action="#">
								<div class="modal-body">
									<div class="row">
										<div class="col-md-12">
											<div class="mb-3">
												<label class="form-label me-2">Team Members</label>
												<input class="input-tags form-control" placeholder="Add new" type="text" data-role="tagsinput"  name="Label" value="Jerald,Andrew,Philip,Davis">
											</div>
										</div>
										<div class="col-md-12">
											<div class="mb-3">
												<label class="form-label me-2">Team Leader</label>
												<input class="input-tags form-control" placeholder="Add new" type="text" data-role="tagsinput"  name="Label" value="Hendry,James">
											</div>
										</div>
										<div class="col-md-12">
											<div class="mb-3">
												<label class="form-label me-2">Project Manager</label>
												<input class="input-tags form-control" placeholder="Add new" type="text" data-role="tagsinput"  name="Label" value="Dwight">
											</div>
										</div>
										<div class="col-md-12">
											<div class="mb-3">
												<label class="form-label">Status</label>
												<select class="select">
													<option>Select</option>
													<option>Active</option>
													<option>Inactive</option>
												</select>
											</div>
										</div>
										<div class="col-md-12">
											<div>
												<label class="form-label">Tags</label>
												<select class="select">
													<option>Select</option>
													<option>High</option>
													<option>Low</option>
													<option>Medium</option>
												</select>
											</div>
										</div>
									</div>								
								</div>
								<div class="modal-footer">
									<div class="d-flex align-items-center justify-content-end">
										<button type="button" class="btn btn-outline-light border me-2" data-bs-dismiss="modal">Cancel</button>
										<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#success_modal">Save</button>
									</div>
								</div>
							</form>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add Project -->

		<!-- Add Leaves -->
		<div class="modal fade" id="add_leaves">
			<div class="modal-dialog modal-dialog-centered modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Leave Request</h4>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x"></i>
						</button>
					</div>
					<form action="#">
						<div class="modal-body pb-0">
							<div class="row">
								<div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Employee Name</label>
										<select class="select">
											<option>Select</option>
											<option>Anthony Lewis</option>
											<option>Brian Villalobos</option>
											<option>Harvey Smith</option>
										</select>
									</div>	
								</div>
								<div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Leave Type</label>
										<select class="select">
											<option>Select</option>
											<option>Medical Leave</option>
											<option>Casual Leave</option>
											<option>Annual Leave</option>
										</select>
									</div>	
								</div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">From </label>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-calendar text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">To </label>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-calendar text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>   
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">No of Days</label>
										<input type="text" class="form-control" disabled>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Remaining Days</label>
										<input type="text" class="form-control" disabled>
									</div>
								</div>
								<div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Reason</label>
										<textarea class="form-control" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Add Leaves</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Add Leaves -->

	</div>
	<!-- /Main Wrapper -->
	 {% include 'js.html' %}
	</body>


</html>