 

	<!-- jQuery -->
	<script data-cfasync="false" src="/static/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        

    <script src="/static/assets/js/jquery-3.7.1.min.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>

	<script src="/static/assets/js/jquery.dataTables.min.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>
	<script src="/static/assets/js/dataTables.bootstrap5.min.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>	

	<!-- Bootstrap Core JS -->
	<script src="/static/assets/js/bootstrap.bundle.min.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>

	<!-- Feather Icon JS -->
	<script src="/static/assets/js/feather.min.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>


	
<!-- Color Picker JS -->
	<!-- <script src="/static/assets/plugins/%40simonwep/pickr/pickr.es5.min.js" type="8a350d38feaee982e6287cc5-text/javascript"></script> -->
	

	
	<!-- Daterangepikcer JS -->
		<script src="/static/assets/js/moment.min.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>
	<script src="/static/assets/plugins/daterangepicker/daterangepicker.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>
	<script src="/static/assets/js/bootstrap-datetimepicker.min.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>

	<!-- Select2 JS -->
	<script src="/static/assets/plugins/select2/js/select2.min.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>


	<!-- Custom JS -->
	 	<script src="/static/assets/js/todo.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>
	<!-- <script src="/static/assets/js/theme-colorpicker.js" type="6f56031cddbc541b14a324b3-text/javascript"></script> -->
	<script src="/static/assets/js/script.js" type="6f56031cddbc541b14a324b3-text/javascript"></script>

<script src="/static/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="6f56031cddbc541b14a324b3-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"968c9174eb0d54b4","version":"2025.7.0","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"3ca157e612a14eccbb30cf6db6691c29","b":1}' crossorigin="anonymous"></script>
<!-- Chart JS -->
	<script src="/static/assets/plugins/apexchart/apexcharts.min.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>
	<script src="/static/assets/plugins/apexchart/chart-data.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>

	<!-- Chart JS -->
	<script src="/static/assets/plugins/chartjs/chart.min.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>
	<script src="/static/assets/plugins/chartjs/chart-data.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>

		<!-- Datetimepicker JS -->
	<script src="/static/assets/js/moment.min.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>
	<script src="/static/assets/js/bootstrap-datetimepicker.min.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>

<!-- Summernote JS -->
	<script src="/static/assets/plugins/summernote/summernote-lite.min.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>

	<!-- Bootstrap Tagsinput JS -->
	<script src="/static/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js" type="8a350d38feaee982e6287cc5-text/javascript"></script>

<script src="/static/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="8a350d38feaee982e6287cc5-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"968c902949485a23","version":"2025.7.0","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"3ca157e612a14eccbb30cf6db6691c29","b":1}' crossorigin="anonymous"></script>
