{% load permissions %}

<div class="sidebar" id="sidebar">
	<!-- Logo -->
	<div class="sidebar-logo">
		<a href="/" class="logo logo-normal">
			<img src="https://voidservice.com/logo/new-final.png" alt="Logo" >
		</a>
		<a href="/" class="logo-small">
			<img src="https://voidservice.com/logo/new-final.png"  alt="Logo">
		</a>
		<a href="/" class="dark-logo">
			<img src="https://voidservice.com/logo/new-final.png"  alt="Logo">
		</a>
	</div>
	<!-- /Logo -->

	<div class="sidebar-header p-3 pb-0 pt-2">
		<div class="text-center rounded bg-light p-2 mb-4 sidebar-profile d-flex align-items-center">
			<div class="avatar avatar-md onlin">
				<img src="/static/assets/img/profiles/avatar-02.jpg" alt="Img" class="img-fluid rounded-circle">
			</div>
			<div class="text-start sidebar-profile-info ms-2">
				<h6 class="fs-12 fw-normal mb-1">Hemant Sahoo</h6>
				<p class="fs-10">System Admin</p>
			</div>
		</div>
		<div class="input-group input-group-flat d-inline-flex mb-4">
			<span class="input-icon-addon">
				<i class="ti ti-search"></i>
			</span>
			<input type="text" class="form-control" placeholder="Search in HRMS">
			<span class="input-group-text">
				<kbd>CTRL + / </kbd>
			</span>
		</div>

	</div>
	<div class="sidebar-inner slimscroll" style="margin-top: 10px;">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title"><span></span></li>
				<li>
					<ul>

						{% if request.user.is_superuser %}
						<li class="{{dashboard}}">
							<a href="/">
								<i class="ti ti-calendar-event"></i><span>Dashboard</span>
							</a>
						</li>

						{% else %}
						<li class="{{dashboard}}">
							<a href="/emp">
								<i class="ti ti-calendar-event"></i><span>Dashboard</span>
							</a>
						</li>
						{% endif %}

					</ul>
				</li>



				<li class="menu-title"><span>HRM</span></li>

				<li>
					<ul>
						{% has_permission 'Employee Add' as can_add_employee %}
						{% if can_add_employee %}
						<li class="submenu">
							<a href="javascript:void(0);">
								<i class="ti ti-users"></i><span>Employees</span>
								<span class="menu-arrow"></span>
							</a>
							<ul>
								<li><a class="{{ hrmslist }}" href="/employeelist">Employee Lists</a></li>

								{% if request.user.is_superuser %}
								<li><a class="{{ department }}" href="/department">Departments</a></li>
								<li><a class="{{ designation }}" href="/designation">Designations</a></li>
								<li><a class="{{ grade }}" href="/grade">Grade</a></li>
								<li><a class="{{ position }}" href="/position">Position</a></li>
								{% endif %}
							</ul>
						</li>
						{% endif %}
						<!-- <li class="submenu">

									<a href="javascript:void(0);">
										<i class="ti ti-ticket"></i><span>Tickets</span>
										<span class="menu-arrow"></span>
									</a>
									<ul>
													<li><a class="{{ticket}}" href="/ticket">Tickets</a></li>
																<li><a class="{{ticketdetail}}" href="/ticketdetail">Ticket Details</a></li>

									</ul>
								</li> -->

						{% if not request.user.is_superuser %}
						<li class="{{attendence}}">
							<a href="/attendence/">
								<i class="ti ti-calendar-event"></i><span> My Attendence</span>
							</a>
						</li>
						{% endif %}

						{% if request.user.is_superuser %}
						<li class="{{holiday}}">
							<a href="/holiday">
								<i class="ti ti-calendar-event"></i><span>Holidays</span>
							</a>
						</li>
						{% endif %}
						<li class="{{leave_status}}">
							<a href="/leave">
								<i class="ti ti-calendar-event"></i><span>Leave</span>
							</a>
						</li>

							<li class="{{advancesalary}}">
							<a href="/advancesalary">
								<i class="ti ti-calendar-event"></i><span>Advance Salary</span>
							</a>
						</li>
				
				

						{% has_permission 'Attendence' as can_access_attendance %}
						{% if can_access_attendance %}
						<li class="submenu">
							<a href="javascript:void(0);">
								<i class="ti ti-file-time"></i><span>Attendance</span>
								<span class="menu-arrow"></span>
							</a>
							<ul>
								{% if request.user.is_superuser %}
								<li class="submenu submenu-two">
									<a href="javascript:void(0);">Leaves<span
											class="menu-arrow inside-submenu"></span></a>
									<ul>
									
										
										<li><a class="{{ leavesetting }}" href="/leavesetting">Leave Settings</a></li>
								
									</ul>
								</li>
										{% endif %}

								<li><a class="{{ addattendence }}" href="/addattendence">Attendence</a></li>
							{% if request.user.is_superuser %}
								<li><a class="{{ shiftlist }}" href="/shiftlist">Create Shift</a></li>
								<li><a class="{{ shifttype }}" href="/shifttype">Create Shift Type</a></li>
								<li><a class="{{ shift }}" href="/shift">Assign Shift</a></li>
								{% endif %}
							</ul>
						</li>
						{% endif %}



						
						<!-- <li class="{{termination}}">
									<a href="/termination">
										<i class="ti ti-circle-x"></i><span>Termination</span>
									</a>
								</li> -->
					</ul>
				</li>
				{% has_permission 'Payslip' as can_access_payslip %}
						{% if can_access_payslip %}

				<li class="menu-title"><span>FINANCE & ACCOUNTS</span></li>
				<li>
					<ul>

						<li class="submenu">
							<a href="javascript:void(0);">
								<i class="ti ti-cash"></i><span>Payroll</span>
								<span class="menu-arrow"></span>
							</a>
							<ul>
								<li><a class="{{salarylist}}" href="/salarylist">Employee Salary</a></li>
								<!-- <li><a class="{{payslip}}" href="/payslip">Payslip</a></li> -->

							</ul>
						</li>
					</ul>
				</li>

				{% endif %}
				
			



				{% if request.user.is_superuser %}
				<li class="menu-title"><span>ADMINISTRATION</span></li>
				<li>
					<ul>


						<li class="submenu">
							<a href="javascript:void(0);">
								<i class="ti ti-user-star"></i><span>Roles Management</span>
								<span class="menu-arrow"></span>
							</a>
							<ul>
								<li><a class="{{users}}" href="/users">Roles</a></li>

							</ul>
						</li>


					</ul>
				</li>
				{% endif %}





			</ul>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		// Toggle any submenu on click
		$('.sidebar-menu li.submenu > a, .sidebar-menu li.submenu ul li.submenu > a').on('click', function (e) {
			e.preventDefault();
			var $submenu = $(this).next('ul');
			if ($submenu.length) {
				if ($submenu.is(':visible')) {
					$submenu.slideUp(200, function () {
						$submenu.removeAttr('style'); // reset inline style after hiding
					});
				} else {
					$submenu.slideDown(200, function () {
						$submenu.attr('style', 'display:block;'); // ensure inline style is set
					});
				}
			}
		});

		// On page load: ensure parent submenus are visible if a child is active or matches current URL
		$('.sidebar-menu li ul li a').each(function () {
			if ($(this).hasClass('active') || window.location.pathname === $(this).attr('href')) {
				$(this).parents('ul').each(function () {
					$(this).attr('style', 'display:block;'); // force inline style
				});
			}
		});
	});
</script>